@model List<WishList.Models.Item>

<h1>Wishlist</h1>
<a asp-action="create">Add item</a>
<ul>
	@foreach (var item in Model)
	{
		<li>@item.Description<a action="delete" asp-route-Id="@item.Id"> delete </a></li>
	}
</ul> 